//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.section-footer {
  margin: 202px 0 0 0;

  .footer-top {
    background-image: url("../assets/images/best bg.png");
    background-position: top center;
    background-size: cover;

    .footer-app {
      border-bottom: 1px solid $white;

      .content {
        margin-top: 38px;

        .title {
          margin: -46px 0 29px 3px;

          font-family: $text-opensans-semibold;
          font-size: 41px;
          color: $white;
          
          letter-spacing: .3px;
        }
    
        .description {
          margin: -19px 0 31px 4px;

          font-size: 17px;
          color: $white;

          letter-spacing: -.17px;
        }

        .download-links{
          .ios{
            margin: -33px 0 -75px 3px;
          }

          .android {
            margin: -32px 0 -74px 14px;
          }
        }
      }

      .image-holder {
        margin-top: -120px;

        .img-phone {
         margin: 0 0 0 -49px;
        }
      }
    }

    .footer-boxes {
      .box.first-child {
        border: none;
      }

      .box:nth-child(2) {
        height: 263px ;

        border-right: 1px solid $white;
        border-left: 1px solid $white;
      }
    
      .box:last-child {
        border: none;
      }
      
      .icon-holder {
        .share {
          margin: 22px 0 0 1px;

          letter-spacing: 0.1px;
        }

        .share-icon {
          margin: 46px 0 0 -1px;
        }
    
        .share-desc {
          margin: 34px 30px 0 1px;
          
          font-size: 15px;
          color: $white;

          letter-spacing: -.1px;
          line-height: 1.8;
        }
      
        .share-link {
          font-size: 15px;
          color: $white;

          border-bottom: 1px solid $white;
        }
        
        .share-link:hover {
          text-decoration: none;
        }

        .focus {
          margin: 25px 0 0 1px;

          letter-spacing: .24px;
        }

        .focus-icon {
          margin: 41px 0 0 27px;
        }

        .focus-desc {
          margin: 15px 45px 0 27px;

          font-size: 15px;
          color: $white;

          letter-spacing: -.09px;
          line-height: 1.74;
        }

        .focus-link {
          margin: 0 0 0 26px;

          font-size: 15px;
          color: $white;

          border-bottom: 1px solid $white;
        }
        
        .focus-link:hover {
          text-decoration: none;
        }

        .contact {
          margin: 19px 0 0 147px;
          
          letter-spacing: -0.5px;
          line-height: 2.5;
        }

        .contact-icon {
          margin: 39px 0 0 91px;
        }

        .contact-link {
          margin: 0 0 0 92px;
          
          font-size: 15px;
          color: $white;
          
          border-bottom: 1px solid $white;
          
          letter-spacing: .3px;
        }

        .contact-link:hover {
          text-decoration: none;
        }
        
        .phone-number {
          margin: 0 0 0 -60px;

          font-family: $text-opensans-semibold;
          font-size: 36px;
          color: $white;
        }
    
        .phone-number:hover {
          text-decoration: none;
        }
      }
    }
  }

  .koein {
    display: none;
  }

  .footer-bottom {
    padding: 11px 0;

    .items {
      align-items: flex-end;
    }

    .footer-links {
      .list-inline-item .link {
        margin-right: 36px;

        color: $black;
        font-size: 14px;
      }
    
      .list-inline-item .link:hover {
        color: #0076b1;
        
        text-decoration: none;
      }
    }
    
    .footer-right-links {
      margin: 0 10px 0 0;
      
      text-align: right;

      .fb-icon {
        margin: 0 -4px 0 0;
      }

      .ig-icon {
        margin: 0 -6px 0 0;
      }

      .linkedin-icon {
        margin: 0 10px 0 0;
      }
        
      .mail {
        margin: 0 7px 0 0;
      }
      
      .back-to-top {
        margin: 0 -16px 0 0;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1373px) {
  .section-footer {
    .footer-top {
      .footer-app {
        .content {
          .title {
            font-size: 38px;
          }
          
          .description {
            font-size: 15px;
          }

          .download-links {
            .ios {
              width: 160px;
            }
            
            .android {
              width: 160px;
            }
          }
        }

        .image-holder {
          .img-phone {
            width: 430px;
          }
        }
      }

      .footer-boxes {
        .box:nth-child(2) {
          height: 308px;
        }
        
        .icon-holder {
          .share-desc {
            margin: 36px 82px 0 0;
          }
          
          .contact-icon {
            margin: 47px 0 0 25px;
          }

          .contact {
            margin: 20px 0 26px 85px;
          }
          
          .phone-number {
            font-size: 32px;
          }
          
          .contact-link {
            margin: 0 0 0 25px;
          }
        }
      }
    }

    .footer-bottom {
      .items {
        padding: 20px 0 20px;
      }
    }
  }
}

@media (min-width: 1374px) and (max-width: 1435px) {
  .section-footer {
    margin: 235px 0 0 0;
    
    .footer-top {
      .footer-app {
        .content {
          .title {
            margin: -45px 0 29px 21px;
          }
          
          .description {
            margin: -19px 0 31px 20px;
          }

          .download-links {
            margin: 0 0 0 20px;
          }
        }
      }

      .footer-boxes {
        .icon-holder {
          .share-icon {
            margin: 46px 0 0 25px;
          }
          
          .share-desc {
            margin: 36px 30px 0 25px;
          }

          .share {
            margin: 25px 0 0 25px;
          }

          .focus-desc {
            margin: 17px 40px 0 25px;
          }

          .contact-icon {
            margin: 41px 0 0 25px;
          }

          .contact {
            margin: 20px 0 0 90px;
          }

          .contact-link {
            margin: 0 0 0 36px;
          }
        }
      }
    }
  }
}

@media (min-width: 1436px) and (max-width: 1698px) {
  .section-footer {
    margin: 235px 0 0 0;

    .footer-top {
      .footer-app {
        .content {
          .title {
            margin: -45px 0 29px 21px;
          }

          .description {
            margin: -19px 0 31px 20px;
          }

          .download-links {
            margin: 0 0 0 20px;
          }
        }
      }

      .footer-boxes {
        .icon-holder {
          .share-icon {
            margin: 46px 0 0 25px;
          }
          
          .share-desc {
            margin: 36px 30px 0 25px;
          }
          
          .share {
            margin: 25px 0 0 25px;
          }
          
          .focus-desc {
            margin: 17px 40px 0 25px;
          }

          .contact-icon {
            margin: 41px 0 0 25px;
          }
          
          .contact {
            margin: 20px 0 0 90px;
          }
          
          .contact-link {
            margin: 0 0 0 36px;
          }
        }
      }
    }
  }
}

@include respond-to(lg) {
  .section-footer {
    margin: 245px 0 0 0;

    .footer-top {
      .footer-app {
        .content {
          .title {
            font-size: 34px;
          }

          .description {
            margin: -19px -60px 31px 0;
            
            font-size: 14px;
          }
          
          .download-links {
            .ios {
              width: 150px;
            }

            .android {
              width: 150px;
            }
          }
        }

        .image-holder {
          .img-phone {
            margin: 0 0 0 5px;
            width: 320px;
          }
        }
      }
      
      .footer-boxes {
        .box:nth-child(2) {
          height: 280px;
        }
        
        .icon-holder {
          .share-desc {
            margin: 36px 35px 0 0;
            
            font-size: 14px;
          }

          .focus-desc {
            margin: 17px 15px 0 25px;
            
            font-size: 14px;
          }

          .contact-icon {
            margin: 39px 0 0 21px;
          }
          
          .contact {
            margin: 30px 0 28px 79px;
          }
          
          .phone-number {      
            font-size: 28px;
          }
          
          .contact-link {
            margin: 0 0 0 25px;
          }
        }
      }
    }
  }
}

@include respond-to(md) {
  .section-footer {
    margin: -1px 0 0 0;
    .footer-top {
      .footer-app {
        .content {
          .title {
            font-size: 38px;
          }
          
          .description {
            margin: -19px 120px 31px 0;
            
            font-size: 16px;
          }

          .download-links {
            .ios {
              margin: -90px 0 -75px 0;
              width: 150px;
            }
            
            .android {
              margin: -90px 0 -75px 14px;
              width: 150px;
            }
          }
        }

        .image-holder {
          .img-phone {
            width: 315px;
          }
        }
      }

      .footer-boxes {
        .box:nth-child(2) {
          border: none;
        }

        .icon-holder {
          .share-desc {
            margin: 36px 25px 0 0;

            font-size: 14px;
          }
          
          .focus-desc {
            margin: 17px -10px 0 25px;

            font-size: 14px;
          }

          .contact-icon {
            margin: 45px 0 0 5px;
          }
          
          .phone-number {
            font-size: 20px;
          }
          
          .contact {
            margin: 41px 0 54px 70px;
          }

          .contact-link {
            margin: 0 0 0 15px;
          }
        }
      }
    }

    .koein {
      display: block;
      padding: 40px 0 20px;
      
      font-size: 14px;
      color: $white;
    }
    
    .footer-bottom {
      display: none;
    }
  }
}

@media (min-width: 899px) and (max-width: 991px) {
  .section-footer {
    .footer-top {
      .footer-boxes {
        .icon-holder {
          .share-desc {
            margin: 36px 11px 0 0;
          }
          .contact-icon {
            margin: 45px 0 0 5px;
          }
    
          .phone-number {
            font-size: 20px;
          }
          
          .contact {
            margin: 41px 0 31px 70px;
          }
          
          .contact-link {
            margin: 0 0 0 15px;
          }
        }
      }
    }
  }
}

@include respond-to(sm) {
  .section-footer {
    margin: -1px 0;
    
    .footer-top {
      .footer-app {
        .content {
          .title {
            margin: 0 0 25px 0;

            font-size: 38px;
          }

          .description {
            margin: -19px 254px 65px 0;
            
            font-size: 16px;
          }

          .download-links {
            .ios {
              margin: -150px 0 -75px 0;
              width: 150px;
            }

            .android {
              margin: -150px 0 -75px 14px;
              width: 150px;
            }
          }
        }
      }
      
      .footer-boxes {
        .box:nth-child(2) {
          border: none;
        }

        .icon-holder {
          .share-icon {
            margin: 40px 0 0 0;
          }

          .share-desc {          
            margin: 36px 268px 0 0;
          }

          .share {
            margin: 10px 0 0 0;
          }
          
          .focus-icon {
            margin: 40px 0 0 0;
          }

          .focus-desc {
            margin: 36px 270px 0 0;
          }

          .focus {
            margin: 10px 0 0 0;
          }
          
          .focus-link {
            margin: 0;
          }
          
          .contact-icon {
            margin: 40px 0 0 0;
          }
          
          .phone-number {
            margin: 0;
          }

          .contact {
            margin: 5px 0 -15px 0;
          }
          
          .contact-link {
            margin: 0;
          }
        }
      }
    }

    .koein {
      display: block;
      padding: 40px 0 20px;
      
      font-size: 14px;
      color: $white;
    }
    
    .footer-bottom {
      display: none;
    }
  }
}

@include respond-to(xs) {
  .section-footer {
    margin: -1px 0;
    
    .footer-top {
      .footer-app {
        .content {
          .title {
            margin: 0 0 25px 0;

            font-size: 38px;
          }
          
          .description {
            margin: -19px 254px 65px 0;
            
            font-size: 16px;
          }
          
          .download-links {
            .ios {
              margin: -150px 0 -75px 0;
              width: 150px;
            }

            .android {
              margin: -150px 0 -75px 14px;
              width: 150px;
            }
          }
        }
      }

      .footer-boxes {
        .box:nth-child(2) {
          border: none;
        }
        
        .icon-holder {
          .share-icon {
            margin: 40px 0 0 0;
          }

          .share-desc {          
            margin: 36px 268px 0 0;
          }
          
          .share {
            margin: 10px 0 0 0;
          }

          .focus-icon {
            margin: 40px 0 0 0;
          }

          .focus-desc {
            margin: 36px 270px 0 0;
          }

          .focus {
            margin: 10px 0 0 0;
          }

          .focus-link {
            margin: 0;
          }
          
          .contact-icon {
            margin: 90px 0 0 0;
          }

          .phone-number {
            margin: 0;
          }
          
          .contact {
            margin: 5px 0 -15px 0;
          }
          
          .contact-link {
            margin: 0;
          }
        }
      }
    }
    
    .koein {
      display: block;
      padding: 40px 0 20px;
      
      font-size: 14px;
      color: $white;
    }
    
    .footer-bottom {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 391px) {
  .section-footer {
    .footer-top {
      .footer-app {
        .content {
          .title {
            font-size: 28px;
          }
          
          .description {
            margin: -19px 0 65px 0;

            font-size: 14px;
          }

          .download-links {
            .ios {
              width: 120px;
            }

            .android {
              width: 120px;
            }
          }
        }
      }

      .footer-boxes {
        .icon-holder {
          .share-icon {
            width: 45px;
          }

          .share-desc {          
            margin: 36px 68px 0 0;
            
            font-size: 12px;
          }

          .share-link {
            font-size: 12px;
          }

          .focus-icon {
            width: 45px;
          }
          
          .focus-desc {
            margin: 36px 70px 0 0;

            font-size: 12px;
          }

          .focus-link {
            margin: 0;

            font-size: 12px;
          }

          .contact-icon {
            margin: -20px 0 0 0;

            width: 45px;
          }

          .phone-number {
            font-size: 28px;
          }

          .contact-link {
            font-size: 12px;
          }
        }
      }
    }

    .koein {
      font-size: 12px;
    }
  }
}

@media (min-width: 392px) and (max-width: 471px) {
  .section-footer {
    .footer-top {
      .footer-app {
        .content {
          .title {
            font-size: 28px;
          }

          .description {
            margin: -19px 0 65px 0;

            font-size: 14px;
          }
          
          .download-links {
            .ios {
              width: 120px;
            }
            
            .android {
              width: 120px;
            }
          }
        }
      }

      .footer-boxes {
        .icon-holder {
          .share-icon {
            width: 45px;
          }

          .share-desc {          
            margin: 36px 140px 0 0;

            font-size: 12px;
          }

          .share-link {
            font-size: 12px;
          }

          .focus-icon {
            width: 45px;
          }

          .focus-desc {
            margin: 36px 140px 0 0;

            font-size: 12px;
          }

          .focus-link {
            margin: 0;

            font-size: 12px;
          }

          .contact-icon {
            margin: -20px 0 0 0;

            width: 45px;
          }

          .phone-number {
            font-size: 28px;
          }
          
          .contact-link {
            font-size: 12px;
          }
        }
      }
    }

    .koein {
      font-size: 12px;
    }
  }
}