//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 27px 0 31px;
  height: 117px;
  background: 0 0;

  .best-logo {
    margin: -5px 0 0 0;
  }

  .container {
    margin-top: -25px;
    z-index: 1;
  }

  .navbar {
    padding: 19px 0;
  }

  .navbar-nav {
    .nav-link {
      padding: 16px 42px 0 5px;
    }
  }

  .nav-link {
    font-family: $text-opensans-semibold;
    font-size: 14px;
    color: $black;
  }

  select.form-control:not([size]):not([multiple]) {
    height: initial;
  }

  .form-control{
    
    padding: 14px 39px 13px 22px;
    margin: 16px 0 0 -2px;


    font-family: $text-opensans-semibold;
    font-size: 14px;
    color: $white;

    justify-content: flex-start;
    align-items: center;

    background-color: $bg-language;
    background-image: url("../assets/images/arrow down.png");
    background-position: 45px 20px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;

    appearance: none;
  }

  .navbar-buttons {
    list-style: none;
  }

  .navbar-toggler {
    margin: 0 40px 0 0;
  }
}

@include respond-to(xl) {
  .section-header {
    .navbar-nav {
      .nav-link {
        padding: 12px 39px 0 6px;
      
        letter-spacing: .2px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1373px) {
  .section-header {
    .navbar-nav {
      .nav-link {
        padding: 12px 14px 0 6px;
      }
    }
  }
}

@include respond-to(lg) {
  .section-header {

    .best-logo {
      width: 220px;
    }

    .navbar-nav {
      .nav-link {
        padding: 31px 10px 0 5px;
        
        font-size: 12px;
      }
    }

    .form-control {
      padding: 11px 36px 11px 22px;
      margin: 30px 0 0 4px;
      
      font-size: 12px;

      background-position: 45px 17px;
      background-size: 12px;
    }
  }
}

@include respond-to(md) {
  .section-header {
    .best-logo {
      margin: 0 0 0 15px;
    }

    .navbar-nav {
      .nav-link {
        padding: 16px 42px 0 15px;
      }
    }

    .form-control {
      padding: 10px 0 10px 15px;
      margin: 16px 0 0 15px;
      width: 70px;

      background-position: 38px 17px;
    }

    .navbar-buttons {
      position: relative;
      top: -5px;
      left: -100px;
      
      list-style: none;
    }
  
    .navbar-toggler {
      position: absolute;
      top: 5px;
      right: 0;
  
      margin: 0 40px 0 0;
    }
  }
}

@include respond-to(sm) {
  .section-header {
    .best-logo {
      margin: 0 0 0 15px;
    }

    .navbar-nav {
      .nav-link {
        padding: 16px 42px 0 15px;
      }
    }

    .form-control {
      padding: 10px 0 10px 15px;
      margin: 16px 0 0 15px;
      width: 70px;

      background-position: 38px 17px;
    }

    .navbar-buttons {
      display: none;
    }
  }
}

@include respond-to(xs) {
  .section-header {
    .best-logo {
      margin: 0 0 0 15px;
      width: 170px;
    }

    .navbar-nav {
      .nav-link {
        padding: 16px 42px 0 15px;
      }
    }

    .form-control {
      padding: 10px 0 10px 15px;
      margin: 16px 0 0 15px;
      width: 70px;

      background-position: 38px 17px;
    }

    .navbar-buttons {
      display: none;
    }
  }
}
