//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

.about {
  .section-intro {
    position: relative;
    top: 138px;

    height: 569px;

    background-image: url("../assets/images/about bg-image.jpg");
    background-position: center;
    background-size: cover;

    .navs-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 75px;
    }

    .arrow-right-parent {
      position: relative;
    }

    .arrow-right {
      padding: 14px 32px;

      background: $sea-blue;

      :after {
        content: "";
        position: absolute;
        top: 0;
        left: unset;
        right: -23px;

        width: 0;
        height: 0;

        border-top: 26.5px solid transparent;
        border-bottom: 26.5px solid transparent;
        border-left: 24px solid $sea-blue;

        z-index: 2;
      }
    }

    .title {
      padding-left: 0;
      margin-left: 0;

      font-family: $font-opensans-bold;
      color: $white;

      letter-spacing: .6px;
    }

    .active {
      color: $ink;

      background: $white;
    }

    .nav-link {
      font-size: 18.1px;
    }

    .swiper-slide {
      text-align: center;

      .nav-link {
        padding-top: 14px;
        padding-left: 13px;
        height: 53px;

        font-family: $font-opensans-semibold;
      }

      &:first-child {
        width: 187px;

        .nav-link {
          color: $ink;

          background-color: $white;
        }
      }
      &:nth-child(2) {
        width: 296px;

        .nav-link {
          color: $white;

          background-color: $ink;

          opacity: .8;
        }
      }
      &:nth-child(3) {
        width: 221px;

        .nav-link {
          color: $white;

          background-color: $ink;

          opacity: 0.8;
        }
      }
    }

    .next {
      position: absolute;
      top: 5px;
      right: 0px;

      display: none;
      width: 24px;

      font-size: 22px;
      color: $next;
      text-align: center;

      background: $white;

      z-index: 2;

      cursor: pointer;
    }
    
    .prev {
      position: absolute;
      top: 5px;
      left: 0px;

      display: none;
      width: 24px;

      font-size: 22px;
      color: $next;
      text-align: center;
      
      background: $white;

      z-index: 2;

      cursor: pointer;
    }

    .custom-breadcrumb {
      position: relative;
      top: 569px;

      border-bottom: 1px solid $light-grey;
    }

    .breadcrumb {
      margin-bottom: 1px;
      
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;

      .breadcrumb-item:nth-child(2)::before {
        content: "";
      }

      .breadcrumb-item:nth-child(3)::before {
        content: "";
      }
    }

    .breadcrumb-item {
      font-family: $text-opensans-semibold;
      font-size: 13px;
    }

    .disabled {
      pointer-events: none;
    }

    .item {
      color: $mid-grey;
    }

    .active {
      color: $why-us;
    }

    .fa-angle-right {
      margin: 0 -5px 0 10px;
    }
  }

  .section-what-we-do {
    padding-top: 268px;

    .custom-container {
      width: 1035px;
    }

    .upper-leaf {
      position: absolute;
      top: 900px;
      left: -157px;
      z-index: -1;
    }

    .lower-leaf {
      position: absolute;
      top: 2176px;
      right: 0;
      z-index: -1;
    }

    .flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .flex-info {
        width: 50%;

        .title {
          font-family: $text-opensans-bold;
          font-size: 42px;
          color: $black;
    
          letter-spacing: -1.1px;
        }
        
        .description {
          font-size: 17px;
          color: $black;
          
          line-height: 1.56;
        }

        &:nth-of-type(1) {
          .description {
            padding-bottom: 12px;
          }
        }

        &:nth-of-type(4) {
          .title {
            padding: 121px 0 0 23px;
          }
          
          .text-holder {
            .title {
              padding: 0 0 0 23px;
            }
            
            .description {
              padding-left: 23px;
            }
          }
        }

        &:nth-of-type(5) {
          .title {
            padding: 104px 0 0 0;
          }

          .description {
            padding-right: 36px;
          }
        }

        &:nth-of-type(8) {
          .title {
            padding: 155px 0 0 23px;
          }
          
          .description {
            padding-left: 23px;
          }
        }

        .text-holder {
          .title {
            font-size: 17px;
          }
        }
      }

      .flex-image {
        width: 50%;

        .img-logo {
          border-right: 8px solid orange;
          border-radius: 210px;
        }

        &:nth-of-type(2) {
          .img-logo {
            margin: 0 0 0 100px;
          }
        }

        &:nth-of-type(3) {
          .img-logo {
            margin: 96px 0 0 -2px;
          }
        }

        &:nth-of-type(6) {
          .img-logo {
            margin: 143px 0 0 100px;
            width: 420px;
          }
        }

        &:nth-of-type(7) {
          .img-logo {
            margin: 153px 0 0 0;
          }
        }
      }
    }
  }
}


@include respond-to(lg) {
  .about {
    .section-intro {
      .arrow-right {
        padding: 16px 20px;
      }

      .nav-link {
        font-size: 15px;
      }

      .swiper-slide {
        text-align: center;

        .nav-link {
          padding-top: 14px;
          padding-left: 13px;
          height: 53px;
  
          font-family: $font-opensans-semibold;
        }
  
        &:first-child {
          width: 140px;
        }

        &:nth-child(2) {
          width: 210px;
        }

        &:nth-child(3) {
          width: 135px;
        }
      }
    }

    .section-what-we-do {
      .flex-wrapper {
        .flex-info {
          &:nth-of-type(1) {
            .title {
              padding-left: 20px;
            }

            .description {
              padding: 0 100px 0 20px;
            }
          }

          &:nth-of-type(4) {
            .title {
              padding: 121px 0 0 0;
            }
  
            
            .text-holder {
              .title {
                padding: 0;
              }
              
              .description {
                padding: 0 100px 0 0;
              }
            }
          }

          &:nth-of-type(5) {
            .title {
              padding-left: 20px;
            }

            .description {
              padding: 0 100px 0 20px;
            }
          }

          &:nth-of-type(8) {
            .title {
              padding: 155px 0 0 0;
            }
            
            .description {
              padding: 0 100px 0 0;
            }
          }
        }

        .flex-image {
          .img-logo {
            width: 360px;
          }

          &:nth-of-type(2) {
            .img-logo {
              margin: 0;
            }
          }

          &:nth-of-type(3) {
            .img-logo {
              margin: 96px 0 0 20px;
            }
          }
  
          &:nth-of-type(6) {
            .img-logo {
              margin: 143px 0 0 0;
            }
          }
  
          &:nth-of-type(7) {
            .img-logo {
              margin: 153px 0 0 20px;
            }
          }
        }
      }
    }
  }
}

@include respond-to(md) {
  .about {
    .section-intro {
      .arrow-right {
        padding: 16px 20px;
      }

      .nav-link {
        font-size: 15px;
      }

      .swiper-slide {
        text-align: center;

        .nav-link {
          padding-top: 14px;
          padding-left: 13px;
          height: 53px;
  
          font-family: $font-opensans-semibold;
        }
  
        &:first-child {
          width: 140px;
        }

        &:nth-child(2) {
          width: 210px;
        }

        &:nth-child(3) {
          width: 135px;
        }
      }
    }
  }
}

@include respond-to(sm) {
  .about {
    .section-intro {
      .navs-wrapper {
        position: absolute;
        left: 0;
      }

      .arrow-right {
        padding: 16px 24px;
        :after {
          display: none;
        }
      }

      .nav-link {
        font-size: 15px;
      }

      .swiper-slide {
        text-align: center;

        .nav-link {
          padding-top: 14px;
          padding-left: 13px;
          height: 53px;
  
          font-family: $font-opensans-semibold;
        }
  
        &:first-child {
          width: 130px;
        }

        &:nth-child(2) {
          width: 210px;
        }

        &:nth-child(3) {
          width: 115px;
        }
      }
    }
  }
}

@include respond-to(xs) {
  .about {
    .section-intro {
      .navs-wrapper {
        position: absolute;
        left: 0;
      }

      .arrow-right {
        padding: 18px 10px;
        :after {
          display: none;
        }
      }

      .nav-link {
        font-size: 12px;
      }

      .swiper-slide {
        text-align: center;

        .nav-link {
          padding-top: 14px;
          padding-left: 13px;
          height: 53px;
  
          font-family: $font-opensans-semibold;
        }
  
        &:first-child {
          width: 70px;
        }

        &:nth-child(2) {
          width: 90px;
        }

        &:nth-child(3) {
          width: 80px;
        }
      }
    }
  }
}