//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

.about {
  .media-scroll {
    .media-side-scroll {
      position: fixed;
      top: 370px;
      right: 0;

      padding-top: 9px;
      padding-right: 22px;
      padding-left: 22px;

      list-style: none;

      background-color: $bg-media;

      line-height: 2.5;
      z-index: 2;
    }

    .media-side-icons {
      width: 18px;
    }
  }

  .section-intro {
    position: relative;
    top: 137px;

    height: 569px;

    background-image: url("../assets/images/about bg-image.jpg");
    background-position: center;
    background-size: cover;

    .navs-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .nav-link {
        font-size: 24px;
      }
    }
    
    .custom-breadcrumb {
      position: relative;
      top: 569px;

      border-bottom: 1px solid $light-grey;
    }

    .breadcrumb {
      margin-bottom: 1px;
      
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;

      .breadcrumb-item:nth-child(2)::before {
        content: "";
      }

      .breadcrumb-item:nth-child(3)::before {
        content: "";
      }
    }

    .breadcrumb-item {
      font-family: $text-opensans-semibold;
      font-size: 13px;
    }

    .disabled {
      pointer-events: none;
    }

    .item {
      color: $mid-grey;
    }

    .active {
      color: $why-us;
    }

    .fa-angle-right {
      margin: 0 -5px 0 10px;
    }
  }

  .section-what-we-do {
    margin-top: 549px;

    .upper-leaf {
      position: absolute;
      top: 900px;
      left: -157px;
    }

    .lower-leaf {
      position: absolute;
      top: 2176px;
      right: 0;

      z-index: -1;
    }

    .container {
      margin-top: -284px;
    }

    .title-do {
      margin: 98px 0 0 -5px;
      
      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;

      letter-spacing: -1.1px;
    }
    
    .description-do {
      margin: 10px -2px 0 -4px;
      
      font-size: 17px;
      color: $black;
      
      line-height: 1.56;
    }
    
    .img-logo-do {
      margin: 0 0 0 86px;

      border-right: 8px solid orange;
      border-radius: 210px;
    }

    .title-values {
      margin: 123px 0 0 8px;
      
      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;
      
      letter-spacing: -1.1px;
    }
  
    .sub-holder {
      .subtitle-values {
        margin: 10px 0 0 8px;
       
        font-size: 17px;
        color: $black;
        font-weight: bold;
  
        line-height: 1.5;
      }
  
      .subtitle-values:nth-child(2) {
        margin: 157px 0 0 8px;
      }
  
      .subtitle-values:nth-child(3) {
        margin: 105px 0 0 9px;
      }
  
      .subtitle-values:nth-child(4) {
        margin: 157px 0 0 9px;
      }
    }

    .desc-holder {
      .description-values {
        margin: -493px -5px 0 8px;
       
        font-size: 17px;
        color: $black;
  
        line-height: 1.56;
      }

      .description-values:nth-child(2) {
        margin: 52px -15px 0 8px;
      }

      .description-values:nth-child(3) {
        margin: 52px -15px 0 8px;
      }

      .description-values:nth-child(4) {
        margin: 52px -20px 0 9px;
      }
    }

    .img-logo-values {
      margin: 261px 0 0 -4px;

      border-right: 8px solid orange;
      border-radius: 210px;
    }

    .title-people {
      margin: 149px 0 0 -5px;

      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;

      letter-spacing: -1.1px;
    }

    .text-holder {
      .description-people {
        margin: 10px 0 0 -4px;
       
        font-size: 17px;
        color: $black;
  
        line-height: 1.56;
      }
  
      .description-people:nth-child(2) {
        margin: 26px 0 0 -4px;
      }
  
      .description-people:nth-child(3) {
        margin: 26px 0 0 -4px;
      }
    }
    
    .img-logo-people {
      margin: 187px 0 0 86px;
      width: 410px;

      border-right: 8px solid orange;
      border-radius: 210px;
    }

    .title-data {
      margin: 291px 0 0 8px;

      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;

      letter-spacing: -1.1px;
    }

    .description-data {
      margin: 10px -20px 0 8px;
     
      font-size: 17px;
      color: $black;

      line-height: 1.56;
    }

    .img-logo-data {
      margin: 155px 0 0 -4px;

      border-right: 8px solid orange;
      border-radius: 206px;
    }
  }
}

@include respond-to(lg) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: 0;
      }

      .title-values {
        margin: 123px 0 0 0;
      }

      .sub-holder {
        .subtitle-values {
          margin: 10px 0 0 0;
        }

        .subtitle-values:nth-child(2) {
          margin: 157px 0 0 0;
        }
    
        .subtitle-values:nth-child(3) {
          margin: 105px 0 0 0;
        }
    
        .subtitle-values:nth-child(4) {
          margin: 157px 0 0 0;
        }
      }

      .desc-holder {
        .description-values {
          margin: -493px 0 0 0;
        }
  
        .description-values:nth-child(2) {
          margin: 52px 0  0 0;
        }
  
        .description-values:nth-child(3) {
          margin: 52px 0 0 0;
        }
  
        .description-values:nth-child(4) {
          margin: 52px 0 0 0;
        }
      }

      .img-logo-people {
        margin: 187px 0 0 0;
      }

      .title-data {
        margin: 291px 0 0 0;
      }

      .description-data {
        margin: 10px 0 0 0;
      }
    }
  }
}

@include respond-to(md) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: 0;
        width: 360px;

      }

      .title-values {
        margin: 123px 0 0 0;
      }

      .sub-holder {
        .subtitle-values {
          margin: 10px 0 0 0;
        }

        .subtitle-values:nth-child(2) {
          margin: 157px 0 0 0;
        }
    
        .subtitle-values:nth-child(3) {
          margin: 105px 0 0 0;
        }
    
        .subtitle-values:nth-child(4) {
          margin: 157px 0 0 0;
        }
      }

      .desc-holder {
        .description-values {
          margin: -493px 0 0 0;
        }
  
        .description-values:nth-child(2) {
          margin: 52px 0  0 0;
        }
  
        .description-values:nth-child(3) {
          margin: 52px 0 0 0;
        }
  
        .description-values:nth-child(4) {
          margin: 52px 0 0 0;
        }
      }

      .img-logo-values {
        width: 360px;
      }

      .img-logo-people {
        margin: 187px 0 0 0;
        width: 360px;
      }

      .title-data {
        margin: 291px 0 0 0;
      }

      .description-data {
        margin: 10px 0 0 0;
      }

      .img-logo-data {
        margin: 155px 0 60px -4px;
        width: 360px;
      }
    }
  }
}

@include respond-to(sm) {
  .about {
    .media-scroll {
      display: none;
    }

    .section-what-we-do {
      .upper-leaf {
        display: none;
      }
  
      .lower-leaf {
        display: none;
      }

      .title-do {
        margin: -55px 0 0 0;
        
        font-size: 28px;
      }

      .img-logo-do {
        margin: -508px 0 0 0;
        width: 250px;
      }

      .description-do {
        margin: 280px -2px 0 0;

        font-size: 16px;
      }

      .title-values {
        margin: -303px 0 0 0;

        font-size: 28px;
      }

      .img-logo-values {
        margin: 50px 0 0 0;
        width: 250px;
      }

      .sub-holder {
        margin: 280px 0 0 0;

        .subtitle-values {
          margin: 10px 0 0 0;

          font-size: 16px;
        }
    
        .subtitle-values:nth-child(2) {
          margin: 110px 0 0 0;
        }
    
        .subtitle-values:nth-child(3) {
          margin: 78px 0 0 0;
        }
    
        .subtitle-values:nth-child(4) {
          margin: 110px 0 0 0;
        }
      }

      .desc-holder {
        .description-values {
          margin: -375px -5px 0 0;

          font-size: 16px;
        }
  
        .description-values:nth-child(2) {
          margin: 40px 0 0 0;
        }
  
        .description-values:nth-child(3) {
          margin: 30px 0 0 0;
        }
  
        .description-values:nth-child(4) {
          margin: 38px 0 0 0;
        }
      }

      .title-people {
        margin: 28px 0 0 0;

        font-size: 28px;
      }

      .img-logo-people {
        margin: -915px 0 0 0;
        
        width: 300px;
      }

      .text-holder {
        .description-people {
          margin: 330px 0 0 0;

          font-size: 16px;
        }
      }

      .title-data {
        margin: -305px 0 0 0;

        font-size: 28px;
      }

      .img-logo-data {
        margin: 55px 0 0 0;
        width: 250px;
      }

      .description-data {
        margin: 280px 0 100px 0;
      }
    }
  }
}

@media (min-width: 597px) and (max-width: 628px) {
  .about {
    .section-what-we-do {
      .desc-holder {
        .description-values:nth-child(3) {
          margin: 50px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 629px) and (max-width: 662px) {
  .about {
    .section-what-we-do {
      .desc-holder {
        .description-values:nth-child(3) {
          margin: 50px 0 0 0;
        }
        .description-values:nth-child(4) {
          margin: 62px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 663px) and (max-width: 767px) {
  .about {
    .section-what-we-do {
      .desc-holder {
        .description-values:nth-child(2) {
          margin: 60px 0 0 0;
        }
        .description-values:nth-child(3) {
          margin: 55px 0 0 0;
        }
        .description-values:nth-child(4) {
          margin: 62px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 695px) and (max-width: 767px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -810px 0 0 0;
      }
    }
  }
}

@media (min-width: 695px) and (max-width: 767px) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: -450px 0 0 0;
      }
    }
  }
}

@include respond-to(xs) {
  .about {
    .media-scroll {
      display: none;
    }
    
    .section-what-we-do {
      .upper-leaf {
        display: none;
      }
  
      .lower-leaf {
        display: none;
      }

      .title-do {
        margin: -39px 0 0 0;
        
        font-size: 28px;
      }

      .img-logo-do {
        margin: -510px 0 0 0;
        width: 250px;
      }

      .description-do {
        margin: 280px -2px 0 0;

        font-size: 16px;
      }

      .title-values {
        margin: -303px 0 0 0;

        font-size: 28px;
      }

      .img-logo-values {
        margin: 50px 0 0 0;
        width: 250px;
      }

      .sub-holder {
        margin: 280px 0 0 0;

        .subtitle-values {
          margin: 10px 0 0 0;

          font-size: 16px;
        }
    
        .subtitle-values:nth-child(2) {
          margin: 114px 0 0 0;
        }
    
        .subtitle-values:nth-child(3) {
          margin: 80px 0 0 0;
        }
    
        .subtitle-values:nth-child(4) {
          margin: 96px 0 0 0;
        }
      }

      .desc-holder {
        .description-values {
          margin: -367px -5px 0 0;

          font-size: 16px;
        }
  
        .description-values:nth-child(2) {
          margin: 42px 0 0 0;
        }
  
        .description-values:nth-child(3) {
          margin: 30px 0 0 0;
        }
  
        .description-values:nth-child(4) {
          margin: 30px 0 0 0;
        }
      }

      .title-people {
        margin: 28px 0 0 0;

        font-size: 28px;
      }

      .img-logo-people {
        margin: -750px 0 0 0;
        width: 250px;

        border-radius: 250px;
      }

      .text-holder {
        margin: 110px 0 0 0;
        .description-people {
          margin: 215px 0 0 0;

          font-size: 16px;
        }
      }

      .title-data {
        margin: -305px 0 0 0;

        font-size: 28px;
      }

      .img-logo-data {
        margin: 55px 0 0 0;
        width: 250px;
      }

      .description-data {
        margin: 280px 0 100px 0;
      }
    }
  }
}

@media (min-width: 341px) and (max-width: 557px) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: -560px 0 0 0;
      }
    }
  }
}

@media (min-width: 341px) and (max-width: 531px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -815px 0 0 0;
      }
    }
  }
}

@media (min-width: 440px) and (max-width: 513px) {
  .about {
    .section-what-we-do {
      .sub-holder {
        .subtitle-values:nth-child(2) {
          margin: 140px 0 0 0;
        }

        .subtitle-values:nth-child(3) {
          margin: 95px 0 0 0;
        }

        .subtitle-values:nth-child(4) {
          margin: 120px 0 0 0;
        }
      }
      .desc-holder {
        .description-values {
          margin: -432px -5px 4px 0;
        }

        .description-values:nth-child(2) {
          margin: 43px 0 0 0;
        }

        .description-values:nth-child(3) {
          margin: 48px 0 46px 0;
        }

        .description-values:nth-child(4) {
          margin: 24px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 408px) and (max-width: 447px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -880px 0 0 0;
      }
    }
  }
}

@media (min-width: 341px) and (max-width: 557px) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: -615px 0 0 0;
      }
    }
  }
}

@media (min-width: 445px) and (max-width: 557px) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: -560px 0 0 0;
      }
    }
  }
}

@media (min-width: 423px) and (max-width: 439px) {
  .about {
    .section-what-we-do {
      .sub-holder {
        .subtitle-values:nth-child(2) {
          margin: 140px 0 0 0;
        }

        .subtitle-values:nth-child(3) {
          margin: 110px 0 0 0;
        }

        .subtitle-values:nth-child(4) {
          margin: 135px 0 0 0;
        }
      }
      .desc-holder {
        .description-values {
          margin: -462px -5px 4px 0;
        }

        .description-values:nth-child(2) {
          margin: 43px 0 0 0;
        }

        .description-values:nth-child(3) {
          margin: 40px 0 38px 0;
        }

        .description-values:nth-child(4) {
          margin: 24px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 405px) and (max-width: 422px) {
  .about {
    .section-what-we-do {
      .sub-holder {
        .subtitle-values:nth-child(2) {
          margin: 165px 0 0 0;
        }

        .subtitle-values:nth-child(3) {
          margin: 110px 0 0 0;
        }

        .subtitle-values:nth-child(4) {
          margin: 135px 0 0 0;
        }
      }
      .desc-holder {
        .description-values {
          margin: -485px -5px 4px 0;
        }

        .description-values:nth-child(2) {
          margin: 43px 0 0 0;
        }

        .description-values:nth-child(3) {
          margin: 40px 0 38px 0;
        }

        .description-values:nth-child(4) {
          margin: 24px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 381px) and (max-width: 407px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -945px 0 0 0;
      }
    }
  }
}

@media (min-width: 353px) and (max-width: 404px) {
  .about {
    .section-what-we-do {
      .sub-holder {
        .subtitle-values:nth-child(2) {
          margin: 205px 0 0 0;
        }

        .subtitle-values:nth-child(3) {
          margin: 150px 0 0 0;
        }

        .subtitle-values:nth-child(4) {
          margin: 175px 0 0 0;
        }
      }
      .desc-holder {
        .description-values {
          margin: -607px -5px 85px 0;
        }

        .description-values:nth-child(2) {
          margin: 43px 0 0 0;
        }

        .description-values:nth-child(3) {
          margin: 78px 0 21px 0;
        }

        .description-values:nth-child(4) {
          margin: 55px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  .about {
    .section-what-we-do {
      .img-logo-do {
        margin: -675px 0 0 0;
      }
    }
  }
}

@media (min-width: 365px) and (max-width: 380px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -990px 0 0 0;
      }
    }
  }
}

@media (min-width: 343px) and (max-width: 352px) {
  .about {
    .section-what-we-do {
      .sub-holder {
        .subtitle-values:nth-child(2) {
          margin: 205px 0 0 0;
        }

        .subtitle-values:nth-child(3) {
          margin: 150px 0 0 0;
        }

        .subtitle-values:nth-child(4) {
          margin: 175px 0 0 0;
        }
      }
      .desc-holder {
        .description-values {
          margin: -607px -5px 61px 0;
        }

        .description-values:nth-child(2) {
          margin: 43px 0 0 0;
        }

        .description-values:nth-child(3) {
          margin: 78px 0 21px 0;
        }

        .description-values:nth-child(4) {
          margin: 55px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 342px) and (max-width: 364px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -1045px 0 0 0;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 342px) {
  .about {
    .section-what-we-do {
      .sub-holder {
        .subtitle-values:nth-child(2) {
          margin: 205px 0 0 0;
        }

        .subtitle-values:nth-child(3) {
          margin: 150px 0 0 0;
        }

        .subtitle-values:nth-child(4) {
          margin: 210px 0 0 0;
        }
      }
      .desc-holder {
        .description-values {
          margin: -642px -5px 61px 0;
        }

        .description-values:nth-child(2) {
          margin: 43px 0 0 0;
        }

        .description-values:nth-child(3) {
          margin: 78px 0 21px 0;
        }

        .description-values:nth-child(4) {
          margin: 67px 0 0 0;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 341px) {
  .about {
    .section-what-we-do {
      .img-logo-people {
        margin: -1090px 0 0 0;
      }
    }
  }
}
