//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  .section-intro {
    position: relative;
    top: 0;

    padding: 300px 0 180px;

    background-image: url("../assets/images/bg-image.png");
    background-position: center;
    background-size: cover;
  
    .swiper-container {
      margin: -34px 2px;
    }
    
    .swiper-slide {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    
      font-family: $text-opensans-semibold;
      color: $white;
    
      .text-holder {
        padding-right: 564px;
        
        font-size: 60px;
        letter-spacing: 1.5px;
        
        line-height: 1.2;
      }
    }
    
    .list-inline {
      padding-top: 80px;

      list-style-type: none;

      .list-inline-item {
        display: inline-block;

        &:first-child {
          margin-right: 40px;
        }

        &:nth-child(2) {
          margin-right: 40px;
        }

        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }

    a {
      color: $sea-blue;
      text-decoration: none;
    }
    
    .icon-links {
      margin: 0;

      .icon {
        display: block;
        margin: 0 auto 12px;
        width: 60px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
      }

      .link-name {
        display: block;
        color: $white;
        font-family: $text-opensans-bold;
        font-size: 15px;
        text-align: center;
      }

      .icon-mission {
        background-image: url("../assets/images/our-mission.png");
      }

      .icon-feedback {
        background-image: url("../assets/images/feedback.png");
      }

      .icon-contact {
        background-image: url("../assets/images/contact-us.png");
      }
    }
    
    .swiper-pagination {
      position: relative;
      top: 4px;
      left: 0;

      width: 5%;

      .swiper-pagination-bullet {
        color: $white;

        background-color: $white;
      }
    }
  }

  .section-mission {
    position: relative;
    z-index: 1;
    margin-top: -91px;
    margin-bottom: 47px;

    .content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .content-holder {
        &:first-child {
          display: flex;
          flex-wrap: wrap;
          padding-top: 170px;

          .content-item {
            &:last-child {
              padding-left: 23px;

              .content {
                .title {
                  margin-bottom: 12px;
          
                  font-family: $text-opensans-bold;
                  font-size: 36px;
                }
          
                .list-mission {
                  padding-top: 20px;
                  padding-left: 6px;
                  margin: 0;
          
                  li {
                    position: relative;
          
                    padding-left: 42px;
                    margin-bottom: 20px;
                   
                    font-size: 16px;
                  }
          
                  li:before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 0;
          
                    width: 24px;
                    height: 24px;
          
                    background-image: url("../assets/images/checklist.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                  }
                }
              }
            }
          }
        }
  
        &:last-child {
          padding: 142px 110px;

          background-image: url("../assets/images/background solution.png");
          background-repeat: no-repeat;
    
          .title {
            margin-bottom: 35px;
            font-family: $text-opensans-bold;
            font-size: 35px;
            color: $white;
          }
  
          .solution {
            margin-bottom: 32px;
  
            .icon-holder {
              padding-top: 2px;
              width: 73px;
            }
  
            .media-body {
              .icon-title {
                margin-bottom: 5px;
  
                font-size: 16px;
                font-family: $text-opensans-bold;
                color: $white;
              }
  
              .icon-desc {
                margin-bottom: 0;
  
                font-size: 15px;
                color: $white;
              }
            }
          }
        }
      }
    }
    
    .media {
      display: flex;
    }
  }

  .section-reading {
    .title {
      font-family: $text-opensans-semibold;
      font-size: 41px;
      color: $black;

      letter-spacing: .3px;
     }
  
    .description {
      font-family: $text-opensans-semibold;
      font-size: 18px;
      color: $black;

      letter-spacing: .4px;
    }

    .filter {
      width: 250px;

      font-family: $text-opensans-semibold;
      font-size: 16px;
    }

    .filter-by {
      position: absolute;
      right: 0;
      bottom: 17px;
      padding: 17px 30px;

      background-color: $filter-by;
      border: none;
      border-radius: 25px;

      
      background-image: url("../assets/images/arrow down filter.png");
      background-position: 135px 25px;
      background-repeat: no-repeat;
      
      appearance: none;
    }

    .filter-by:hover {
      background-color: $filter-hover;
    }

    .news-filter, .health-filter, .success-filter, .case-filter {
      display: none;
    }

    .swiper-container {
      height: 515px;  
      
      border: none;
      border-radius: 0;
    }

    .swiper-slide {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 748px;

      background: $white;
   
      &:first-child {
        width: 747px;
  
        background-image: url("../assets/images/fight cancer.png");
        background-position: center;
        background-size: cover;
  
        .text-holder {
          margin-top: auto;
          margin-bottom: 3px;
          margin-left: 35px;
          width: 260px;
  
          line-height: 1.27;
          
          .content-desc {
            font-family: $text-opensans-bold;
            font-size: 29px;
            color: $white;
    
            letter-spacing: .4px;
          }
    
          .date {
            font-size: 14px;
            color: $white;
          }
        }
  
        .category-news {
          padding: 3px 12px;
          margin-top: auto;
  
          font-size: 14px;
          color: $white;
          text-align: center;
  
          background-color: $bg-news;
  
          letter-spacing: .4px;
        }
      }
  
      &:nth-child(2) {
        width: 371px;
  
        background-image: url("../assets/images/modern life.png");
        background-position: center;
        background-size: cover;
  
        .text-holder {
          margin-top: auto;
          margin-bottom: 2px;
          margin-left: 31px;
  
          line-height: 1.27;
  
          .content-desc2 {
            font-family: $text-opensans-bold;
            font-size: 29px;
            color: $white;
    
            letter-spacing: .4px;
          }
    
          .date {
            font-size: 14px;
            color: $white;
          }
        }
  
        .category-health {
          padding: 3px 14px;
          margin-top: auto;
  
          font-size: 14px;
          color: $white;
          text-align: center;
  
          background-color: $bg-health;
        }
      }
  
      &:nth-child(3) {
        width: 371px;
  
        background-image: url("../assets/images/skin.png");
        background-position: center;
        background-size: cover;
  
        .text-holder {
          margin-top: auto;
          margin-right: 20px;
          margin-bottom: 3px;
          margin-left: 32px;
  
          line-height: 1.27;
  
          .content-desc3 {
            font-family: $text-opensans-bold;
            font-size: 29px;
            color: $white;
    
            letter-spacing: .4px;
          }
    
          .date {
            font-size: 14px;
            color: $white;
          }
        }
  
        .category-success {
          padding: 3px 13px;
          margin-top: auto;
  
          font-size: 14px;
          color: $white;
          text-align: center;
  
          background-color: $bg-success;
        }
      }
  
      &:nth-child(4) {
        width: 371px;
  
        background-image: url("../assets/images/modern.png");
        background-position: center;
        background-size: cover;
  
        .text-holder {
          margin-top: auto;
          margin-right: 15px;
          margin-bottom: 2px;
          margin-left: 36px;
  
          line-height: 1.27;
          
          .content-desc4 {
            font-family: $text-opensans-bold;
            font-size: 29px;
            color: $white;
    
            letter-spacing: .4px;
          }
    
          .date {
            font-size: 14px;
            color: $white;
          }
        }
  
        .category-case {
          padding: 3px 11px;
          margin-top: auto;
  
          font-size: 14px;
          color: $white;
          text-align: center;
  
          background-color: $bg-case;
        }
      }
    }
  }

  .section-system {
    
    padding: 200px 0 130px;
    margin-top: 50px;

    background-image: url("../assets/images/info system bg.png");
    background-position: top left;
    background-size: cover;

    .system-pic {
      width: 569px;
    }

    .title {
      font-family: $text-opensans-semibold;
      font-size: 38px;
      color: $black;

      letter-spacing: .1px;
    }

    .title-blue {
      font-family: $text-opensans-semibold;
      font-size: 38px;
      color: $sea-blue;

      letter-spacing: .4px;
    }

    .description {
      font-size: 18px;
      color: $black;

      letter-spacing: -1px;
      line-height: 1.6;
    }

    .checklist-logo {
      margin-right: 16px;
      width: 30px;
      height: 30px;
    }

    .checklist-desc {
      font-family: $text-opensans-bold;
      font-size: 18px;
      color: $black;
    }

    .design-leaf {
      position: absolute;
      right: 0;
    }
  }
}

@include respond-to(lg) {
  .home {
    .section-intro {
      .swiper-slide {
        .text-holder {
          padding-right: 453px;

          font-size: 50px;
        }
      }

      .icon-links {
        .link-name {
          font-size: 14px;
        }
      }

      .swiper-pagination {
        width: 6%;
      }
    }

    .section-mission {
      .content-wrapper {
        .content-holder {
          &:first-child {
            .content-item {
              &:first-child {
                .mission-pic {
                  width: 265px;
                }
              }

              &:last-child {
                padding-left: 13px;

                .content {
                  .title {
                    font-size: 34px;
                  }
          
                  .list-mission {
                    li {
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
    
          &:last-child {
            padding: 87px 37px;
  
            background-image: url("../assets/images/background solution.png");
            background-repeat: no-repeat;
            background-size: 414px 545px;
      
            .title {
              font-size: 28px;
            }
    
            .solution {
              .media-body {
                .icon-title {
                  font-size: 13px;
                }
  
                .icon-desc {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    .section-reading {
      .title {
        font-size: 34px;
      }

      .description {
        font-size: 15px;
      }

      .filter {
        font-size: 14px;
      }
    }

    .section-system {
      .system-pic {
        width: 466px;
      }

      .title {
        font-size: 32px;
      }

      .title-blue {
        font-size: 32px;
      }

      .description {
        font-size: 14px;
      }

      .checklist-desc {
        font-size: 14px;
      }

      .checklist-logo {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@include respond-to(md) {
  .home {
    .section-intro {
      padding: 300px 0 40px;

      .swiper-slide {
        .text-holder {
          padding-right: 0;
        }
      }

      .swiper-pagination {
        width: 7%;
      }
    }

    .section-mission {
      .content-wrapper {
        justify-content: center;

        .content-holder {
          &:last-child {
            margin-top: 40px;
          }
        }
      }
    }

    .section-reading {
      .filter {
        display: none;
      }
    }

    .section-system {
      padding: 220px 0 60px;
      margin-top: 25px;

      .design-leaf {
        display: none;
      }
    }
  }
}

@include respond-to(sm) {
  .home {
    .section-intro {
      padding: 300px 0 35px;

      .swiper-slide {
        .text-holder {
          padding-right: 0;
          font-size: 53px;
        }
      }

      .swiper-pagination {
        width: 9%;
      }
    }

    .section-mission {
      .content-wrapper {
        justify-content: center;
        
        .content-holder {
          &:last-child {
            padding: 109px 60px;
            margin-top: 40px;
            
            background-size: 544px 622px;
          }
        }
      }
    }

    .section-reading {
      .filter {
        display: none;
      }
    }

    .section-system {
      padding: 240px 0 50px;
      margin-top: 0;

      .system-pic {
        width: 545px;
      }
    }
  }
}

@include respond-to(xs) {
  .home {
    .section-intro {
      padding: 256px 0 10px;

      .swiper-slide {
        .text-holder {
          padding-right: 0;
          font-size: 27px;
        }
      }

      .swiper-pagination {
        position: relative;
        top: -25px;
        width: 17%;
      }

      .icon-links {
        .list-inline-item {
          &:first-child {
            margin-right: 25px;
          }

          &:nth-child(2) {
            margin-right: 25px;
          }
        }
      }

      .list-inline {
        padding-top: 65px;
      }
    }

    .section-mission {
      .content-wrapper {
        justify-content: center;

        .content-holder {
          &:first-child {
            .content-item {
              &:last-child {
                .content {
                  .title {
                    margin-left: -6px;
          
                    font-size: 20px;
                  }
          
                  .list-mission {
                    padding-top: 10px;
          
                    li {
                      padding-left: 26px;
          
                      font-size: 14px;
                    }
          
                    li:before {
                      position: absolute;
                      left: -11px;
                      width: 20px;
                      height: 20px;
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            padding: 77px 29px;
            margin-top: 40px;

            background-size: 290px 494px;

            .title {
              font-size: 18px;
            }
  
            .solution {
              margin-bottom: 18px;
  
              .media-body {
                .icon-title {
                  font-size: 14px;
                  margin: -8px 0 3px 0;
                }
  
                .icon-desc {
                  font-size: 14px;
                }
              }
              
              .icon-holder {
                padding: 0;
                width: 62px;
  
                .icon {
                  width: 35px;
                }
              }
            }
          }
        }
      }
    }

    .section-reading {
      .filter {
        display: none;
      }

      .title {
        font-size: 20px;
      }

      .description {
        font-size: 12px;
      }
    }

    .section-system {
      padding: 200px 0 40px;
      margin-top: 0;
      
      .system-pic {
        width: 289px;
      }

      .title {
        font-size: 20px;
      }

      .title-blue {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1374px) and (max-width: 2000px) {
  .home {
    .section-intro {
      .swiper-slide {
        .text-holder {
          padding-right: 738px;
        }
      }
    }
  }
}