//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

.about {
  .section-intro {
    position: relative;
    top: 137px;
    height: 569px;

    background-image: url("../assets/images/about bg-image.jpg");
    background-position: center;
    background-size: cover;
  }

  .section-what-we-do {
    margin-top: 265px;

    .title-do {
      margin: 100px 0 0 247px;
      
      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;

      letter-spacing: -1.1px;
    }
    
    .description-do {
      margin: 12px -15px 0 249px;
      
      font-size: 17px;
      color: $black;
      
      line-height: 1.56;
    }
    
    .img-logo-do {
      margin: 0 0 0 85px;
      border-radius: 210px;
    }

    .title-values {
      margin: 119px 0 0 8px;
      
      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;
      
      letter-spacing: -1.1px;
    }
    
    .description-values {
      margin: 11px 223px 0 8px;
     
      font-size: 17px;
      color: $black;

      line-height: 1.5;
    }
    
    .img-logo-values {
      margin: 253px 0 0 246px;

      border-radius: 210px;
    }

    .title-people {
      margin: 213px 0 0 248px;

      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;

      letter-spacing: -1.1px;
    }

    .description-people {
      margin: 11px 83px 0 249px;
     
      font-size: 17px;
      color: $black;

      line-height: 1.5;
    }
    
    .img-logo-people {
      margin: 249px 0 0 86px;
      width: 410px;
    }

    .title-data {
      margin: 311px 0 0 8px;

      font-family: $text-opensans-bold;
      font-size: 42px;
      color: $black;

      letter-spacing: -1.1px;
    }

    .description-data {
      margin: 11px 230px 0 8px;
     
      font-size: 17px;
      color: $black;

      line-height: 1.5;
    }

    .img-logo-data {
      margin: 172px 0 0 246px;

      border-radius: 206px;
    }
  }
}